.admin-page{

min-height:100vh;

background:#f8fafc;

}



.dark .admin-page{

background:#020617;

color:white;

}




.admin-form{

background:white;

padding:30px;

border-radius:20px;

box-shadow:

0 10px 30px rgba(0,0,0,.1);

margin-bottom:40px;

}



.dark .admin-form{

background:#1e293b;

}




.admin-form form{

display:grid;

gap:15px;

}




.admin-form input{

padding:14px;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

}



.admin-form button{

background:#2563eb;

color:white;

border:none;

padding:14px;

border-radius:10px;

font-weight:700;

}




.admin-table{

background:white;

padding:20px;

border-radius:20px;

overflow:auto;

}



.dark .admin-table{

background:#1e293b;

}





table{

width:100%;

border-collapse:collapse;

}



th,td{

padding:15px;

text-align:center;

}



td img{

height:60px;

width:60px;

object-fit:contain;

}



.edit{

background:#22c55e;

color:white;

border:none;

padding:8px 15px;

border-radius:8px;

margin-right:10px;

}



.delete{

background:#ef4444;

color:white;

border:none;

padding:8px 15px;

border-radius:8px;

}