.product-card {


position:relative;


background:white;


border-radius:22px;


padding:20px;


height:100%;


overflow:hidden;


box-shadow:

0 10px 25px rgba(0,0,0,.08);



transition:.35s;


}




.product-card:hover{


transform:translateY(-8px);


box-shadow:

0 20px 40px rgba(0,0,0,.15);


}





.dark .product-card{


background:#1e293b;


color:white;


}





/* Wishlist */


.wishlist{


position:absolute;


right:15px;


top:15px;


border:none;


background:white;


width:40px;


height:40px;


border-radius:50%;


cursor:pointer;


font-size:20px;


z-index:2;


box-shadow:

0 5px 15px rgba(0,0,0,.15);


}



.wishlist.active{


background:#fee2e2;


}





/* Image */


.product-image{


height:220px;


display:flex;


justify-content:center;


align-items:center;


padding:20px;


}




.product-image img{


max-width:100%;


height:180px;


object-fit:contain;


transition:.3s;


}



.product-card:hover img{


transform:scale(1.08);


}





/* Content */


.product-content h5{


font-size:16px;


font-weight:700;


height:48px;


overflow:hidden;


}





.category{


font-size:14px;


color:#64748b;


text-transform:capitalize;


}



.dark .category{


color:#cbd5e1;


}





.rating{


font-size:14px;


margin:10px 0;


}


.rating span{


color:#64748b;


margin-left:8px;


}




.product-content h3{


font-weight:800;


color:#2563eb;


}





/* Buttons */


.card-buttons{


display:flex;


gap:10px;


margin-top:15px;


}




.view-btn,
.cart-btn{


flex:1;


padding:10px;


border-radius:12px;


text-align:center;


font-weight:600;


transition:.3s;


}





.view-btn{


background:#e0e7ff;


color:#3730a3;


text-decoration:none;


}



.cart-btn{


border:none;


background:#2563eb;


color:white;


cursor:pointer;


}





.cart-btn:hover{


background:#1d4ed8;


}




.view-btn:hover{


background:#c7d2fe;


}





@media(max-width:576px){


.product-card{


padding:15px;


}


}