.card{
    transition:all .3s ease;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15)!important;
}

.card img{
    transition:.4s;
}

.card:hover img{
    transform:scale(1.08);
}

.btn{
    border-radius:10px;
}